@charset "utf-8";

/* Simple CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.left-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.right-article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

article {
    display: flex;

}